APP_NAME=E-KYC Verification

SECRET_KEY=(Seceret_Key)

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=60

DATABASE_URL=sqlite:///./kyc.db

UPLOAD_DOC_DIR=uploads/documents

UPLOAD_SELFIE_DIR=uploads/selfies

LOG_LEVEL=INFO